<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.airtnt.airtnt.service.AdminMapper">

	<select id="listDashboard" resultType="dashboardDTO">
		        SELECT  C.CAL as transactionDate,
                NVL(A.TOT_SITE_FEE, 0) as thisTotSiteFee,
                NVL(B.TOT_SITE_FEE, 0)  as lastTotSiteFee
        FROM (
                    SELECT TO_CHAR(TRANSACTION_DATE, 'YYYYMMDD') AS transaction_date
                         , NVL(SUM(SITE_FEES),0) AS tot_site_fee 
                    FROM TRANSACTIONS
                    WHERE TRANSACTION_DATE BETWEEN SYSDATE-7 AND SYSDATE
                    GROUP BY TO_CHAR(TRANSACTION_DATE, 'YYYYMMDD')
                    ORDER BY TRANSACTION_DATE
            ) A, --올해
            (
                    SELECT TO_CHAR(TRANSACTION_DATE+365, 'YYYYMMDD') AS transaction_date
                         , NVL(SUM(SITE_FEES),0) AS tot_site_fee 
                    FROM TRANSACTIONS
                    WHERE TRANSACTION_DATE BETWEEN SYSDATE-7-365 AND SYSDATE-365
                    GROUP BY TO_CHAR(TRANSACTION_DATE+365, 'YYYYMMDD')
                    ORDER BY TRANSACTION_DATE
            ) B, --작년
            (   SELECT TO_CHAR(SYSDATE-6,'YYYYMMDD') + LEVEL - 1 AS CAL
                FROM dual 
                CONNECT BY LEVEL <![CDATA[ <= ]]> TO_CHAR(SYSDATE,'YYYYMMDD') - TO_CHAR(SYSDATE-7,'YYYYMMDD')
            ) C --날짜대상
        WHERE A.TRANSACTION_DATE = B.TRANSACTION_DATE(+) 
        AND C.CAL = A.TRANSACTION_DATE(+)
        ORDER BY C.CAL
	</select>
	
	<select id = "selectRoomTypeList" resultType="roomTypeDTO">
		select 	id,
				name,
			   	is_use as isUse
		from room_type
		where 1=1
	</select>
	
	<select id = "selectPropertyTypeList" resultType="propertyTypeDTO">
		select 	id,
				name,
			   	is_use as isUse
		from property_type
		where 1=1
	</select>
	
	<select id = "getSubPropertyType" resultType="subPropertyTypeDTO" parameterType="String">
		select 	id,
		        name,
		        property_type_id as propertyTypeId,
		        (select a.name 
		         from property_type a
		         where a.id = b.property_type_id
		        ) as propertyTypeName,
		        is_use as isUse
		from sub_property_type b
		where property_type_id = #{propertyTypeId}
	</select>
	
	<select id = "selectSubPropertyTypeList" resultType="subPropertyTypeDTO" parameterType="String">
		select 	id,
		        name,
		        property_type_id as propertyTypeId,
		        (select a.name 
		         from property_type a
		         where a.id = b.property_type_id
		        ) as propertyTypeName,
		        is_use as isUse
		from sub_property_type b
		where property_type_id = (select min(id) from property_type)
	</select>
	
	<select id = "selectAmenityTypeList" resultType="amenityTypeDTO">
		select	id,
				name,
				is_use as isUse
		from amenity_type
		where 1=1
	</select>
	
	
	<select id= "selectMemberList" resultType="memberDTO">
		select member_mode as memberMode
			 , id
			 , name as name
			 , tel
			 , (CASE WHEN gender = '1' THEN '남성'
		            WHEN gender = '2' THEN '여성'
		       END) AS gender
			 , to_char(reg_date,'YYYY-MM-DD') as regDate
		from member
		where 1=1
	</select>
	
	
	
</mapper>