<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.airtnt.airtnt.service.AmenityMapper">
 
<resultMap type="amenityDTO" id="amenityMap">
	<id column="id" property="id"/>
	<result column="property_id" property="propertyId"/>
	
	<result column="amenity_id" property="amenityId"/>
	<result column="amenity_name" property="amenityName"/>
</resultMap>

<select id="selectAmenities" parameterType="int" resultMap="amenityMap">
select al.*, a.name amenity_name
from amenity_list al, amenity a
where al.amenity_id=a.id and a.use_yn='y'
and al.property_id=#{propertyId}
</select>

</mapper>