<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.airtnt.airtnt.service.MemberMapper">
 	<insert id="inputMember" parameterType="memberDTO">
		insert into member values(#{id}, #{name, jdbcType=VARCHAR}, #{passwd}, #{birth, jdbcType=VARCHAR}, #{tel, jdbcType=VARCHAR}, 1, #{gender, jdbcType=VARCHAR}, #{member_image, jdbcType=VARCHAR}, sysdate, sysdate)
	</insert>
	<select id="getMember" parameterType="String" resultType="memberDTO">
		select * from member where id = #{member_id}
	</select>
	<update id="updateMember" parameterType="memberDTO">
		update member 
		set name=#{name}, birth=#{birth}, tel=#{tel}, gender=#{gender}
		where id=#{id}
	</update>
	<update id="updateMemberImage" parameterType="java.util.Map">
		update member 
		set member_image=#{memeber_image, jdbcType=VARCHAR}
		where id=#{member_id}
	</update>
 </mapper>