<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.airtnt.airtnt.service.MemberMapper">
 	<insert id="inputMember" parameterType="memberDTO">
		insert into member values(#{member_id}, #{member_name}, #{passwd}, #{birth}, #{tel}, 1, #{gender}, #{member_image, jdbcType=VARCHAR}, sysdate, sysdate)
	</insert>
	<select id="getMember" parameterType="String" resultType="memberDTO">
		select * from member where id = #{member_id}
	</select>
 </mapper>