<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.airtnt.airtnt.service.PropertyMapper">
 
<resultMap type="propertyDTO" id="propertyMap">
	<id column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="host_id" property="hostId"/>
	<result column="property_desc" property="propertyDesc"/>
	<result column="address" property="address"/>
	<result column="latitude" property="latitude"/>
	<result column="longitude" property="longitude"/>
	<result column="price" property="price"/>
	<result column="bed_count" property="bedCount"/>
	<result column="max_guest" property="maxGuest"/>
	<result column="reg_date" property="regDate"/>
	<result column="mod_date" property="modDate"/>
	
	<result column="property_type_id" property="propertyTypeId"/>
	<result column="property_type_name" property="propertyTypeName"/>
	
	<result column="sub_property_type_id" property="subPropertyTypeId"/>
	<result column="sub_property_type_name" property="subPropertyTypeName"/>
	
	<result column="room_type_id" property="roomTypeId"/>
	<result column="room_type_name" property="roomTypeName"/>
</resultMap>

<select id="selectPropertyById" parameterType="int" resultMap="propertyMap">
select p.*,
pt.id property_type_id, pt.name property_type_name,
spt.id sub_property_type_id, spt.name sub_property_type_name,
rt.id room_type_id, rt.name room_type_name
from property p, property_type pt, sub_property_type spt, room_type rt
where p.property_type_id=pt.id and p.sub_property_type_id=spt.id and p.room_type_id=rt.id
and p.id=#{id}
</select>

<select id="selectPropertiesByAddress" parameterType="String" resultMap="propertyMap">
select p.*,
pt.id property_type_id, pt.name property_type_name,
spt.id sub_property_type_id, spt.name sub_property_type_name,
rt.id room_type_id, rt.name room_type_name
from property p, property_type pt, sub_property_type spt, room_type rt
where p.property_type_id=pt.id and p.sub_property_type_id=spt.id and p.room_type_id=rt.id
and p.address like #{addressKey}
</select>
 
 </mapper>