<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.airtnt.airtnt.service.PropertyMapper">
 
<select id="selectPropertiesById" parameterType="int" resultType="propertyDTO">

</select>

<select id="selectPropertiesByAddress" parameterType="String" resultType="propertyDTO">
select p.*, pt.name property_type_name, spt.name sub_property_type_name, rt.name room_type_name
from property p, property_type pt, sub_property_type spt, room_type rt
where p.property_type_id=pt.id and p.sub_property_type_id=spt.id and p.room_type_id=rt.id
and p.address like #{addressKey}
</select>
 
 </mapper>