<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.airtnt.airtnt.service.WishListMapper">
 	<insert id="makeWish" parameterType="WishListDTO">
		insert into wishlist values(seq_wish_id.nextval, #{name}, #{member_id}, #{is_admin}, sysdate, #{mod_date, jdbcType=VARCHAR})	
	</insert>
	<select id="getWish" resultType="WishList_PropertyDTO" parameterType="String"> 
 		Select name,wish_id,min(property_id),path 
		From wishlist_view
        where member_id=#{member_id}
		Group by name,wish_id,member_id,path
        order by wish_id
 	</select>
	<select id="getAdminWish" resultType="WishList_PropertyDTO"> 
 		Select name,wish_id,property_id,path 
		From wishlist_view
		Where (property_id , wish_id ) in (
		Select min(property_id), wish_id
		From wishlist_view
		Group by wish_id
		) and is_admin='Y' and is_main='Y'
 	</select>
 	<select id="getWishRoom" resultType="WishList_PropertyDTO" parameterType="String"> 
 		select property_id from wishlist_property where wish_id=#{wish_id}
 	</select>
 </mapper>