<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.airtnt.airtnt.service.WishListMapper">
 	<insert id="makeWish" parameterType="WishListDTO">
		insert into wishlist values(seq_wish_id.nextval, #{name}, #{member_id}, #{is_admin}, sysdate, #{mod_date, jdbcType=VARCHAR})	
	</insert>
	<select id="getWish" resultType="WishList_PropertyDTO" parameterType="String"> 
 		Select name,wish_id,property_id,path
		From wishlist_view
		Where (property_id , wish_id ) in (
		Select min(property_id), wish_id
		From wishlist_view
		Group by wish_id
		) and member_id=#{member_id} and is_main='Y' or (member_id =#{member_id} and property_id is null)
 	</select>
	<select id="getAdminWish" resultType="WishList_PropertyDTO"> 
 		Select name,wish_id,property_id,path
		From wishlist_view
		Where (property_id , wish_id ) in (
		Select min(property_id), wish_id
		From wishlist_view
		Group by wish_id
		) and is_main='Y' or (is_admin ='Y' and property_id is null)
 	</select>
 	<select id="getWishRoom" resultType="WishList_PropertyDTO" parameterType="String"> 
 		select * from wishlist_room_view where wish_id=#{wish_id}
 	</select>
 	<update id="updateWish" parameterType="java.util.Map">
 		update wishlist set name=#{wish_name} where id =#{wish_id}
 	</update>
 	<delete id="deleteWish" parameterType="String">
 		delete from wishlist where id =#{wish_id}
 	</delete>
 	<delete id="deleteWishRoom" parameterType="String">
 		delete from wishlist_property where wish_id =#{wish_id}
 	</delete>
 </mapper>