<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.airtnt.airtnt.service.WishListMapper">
 	<insert id="makeWish" parameterType="WishListDTO">
		insert into wishlist values(seq.nextval, #{wish_name}, #{member_id}, #{seq}, 0, #{is_admin}, #{is_public}, sysdate, sysdate)	
	</insert>
	<select id="getWish" resultType="WishListDTO" parameterType="String"> 
 		select * from wishlist where member_id=#{member_id}
 	</select>
	<select id="getAdminWish" resultType="WishListDTO"> 
 		select * from wishlist where is_admin=1
 	</select>
 </mapper>